:root {
    /* Primary colors */
    --primary-green: hsl(75, 94%, 57%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);

}


body {
    font-size: 14px;
    background-color: var(--off-black);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    min-width: 375px;
}

/* Profile Section */

main {
    background-color: var(--dark-grey);

}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.flex-container img {
    border-radius: 60%;
    width: 120px;
}

.flex-container h2 {
    margin: -2px;
    padding-top: 0px;
    font-weight: 700px;
}

.location {
    color: var(--primary-green);
    font-weight: 600px;
}

.bio-text {

     color: var(--white);
}


/* Social Section */











.attribution {
     font-size: 11px; text-align: center; 
    }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}